## Importing geospatial data

In [2]:
import pandas as pd
geocv = pd.read_csv('http://cocl.us/Geospatial_data').set_index('Postal Code')
geocv.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

## Merge geospatital data into toronto data based on 'Postal Code'

In [3]:
df= pd.read_csv('toronto.csv')
final_df = pd.merge(geocv,df,on='Postal Code')
final_df.head()

,Postal Code,Latitude,Longitude,Unnamed: 0,Borough,Neighborhood
0,M1B,43.806686,-79.194353,0,Scarborough,"Malvern, Rouge"
1,M1C,43.784535,-79.160497,1,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,43.763573,-79.188711,2,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,3,Scarborough,Woburn
4,M1H,43.773136,-79.239476,4,Scarborough,Cedarbrae

## Changing the column order

In [5]:
df = final_df[['Postal Code', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']]
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [7]:
df.shape

(103, 5)